<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <!--创建一个servlet实例-->
    <servlet>
        <servlet-name>servletDemo1</servlet-name>
        <servlet-class>com.fangyi.servlet.ServletDemo1</servlet-class>
        <!--优先级0-*，使当前Servlet在服务器启动时被创建-->
        <load-on-startup>2</load-on-startup>
    </servlet>
    <!--给Servlet提供（映射）一个可供客户端访问的URI-->
    <servlet-mapping>
        <servlet-name>servletDemo1</servlet-name>
        <url-pattern>/servletDemo1</url-pattern>
    </servlet-mapping>

    <!--//////////////////////////////////-->

    <servlet>
        <servlet-name>servletDemo2</servlet-name>
        <servlet-class>com.fangyi.servlet.ServletDemo2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletDemo2</servlet-name>
        <url-pattern>/servletDemo2</url-pattern>
    </servlet-mapping>

    <!--//////////////////////////////////-->

    <servlet>
        <servlet-name>servletDemo3</servlet-name>
        <servlet-class>com.fangyi.servlet.ServletDemo3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletDemo3</servlet-name>
        <url-pattern>/servletDemo3</url-pattern>
    </servlet-mapping>

    <!--//////////////////////////////////-->

    <servlet>
        <servlet-name>servletDemo4</servlet-name>
        <servlet-class>com.fangyi.servlet.ServletDemo4</servlet-class>
    </servlet>

    <!--<servlet-mapping>-->
    <!--<servlet-name>servletDemo4</servlet-name>-->
    <!--&lt;!&ndash; .do 结尾的都会访问servletDemo4&ndash;&gt;-->
    <!--<url-pattern>*.do</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet-mapping>-->
    <!--<servlet-name>servletDemo4</servlet-name>-->
    <!--&lt;!&ndash; /* 输入什么都访问 servletDemo4&ndash;&gt;-->
    <!--<url-pattern>/*</url-pattern>-->
    <!--</servlet-mapping>-->

    <servlet-mapping>
        <servlet-name>servletDemo4</servlet-name>
        <!-- /action/* 输入什么都访问,多个/也没事 servletDemo4-->
        <url-pattern>/action/*</url-pattern>
    </servlet-mapping>

    <!--//////////////////////////////////-->

    <servlet>
        <servlet-name>servletDemo5</servlet-name>
        <servlet-class>com.fangyi.servlet.ServletDemo5</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletDemo5</servlet-name>
        <url-pattern>/servletDemo5</url-pattern>
    </servlet-mapping>

    <!--//////////////////////////////////-->

    <servlet>
        <servlet-name>servletConfigDemo1</servlet-name>
        <servlet-class>com.fangyi.servletConfig.ServletConfigDemo1</servlet-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>

    </servlet>
    <servlet-mapping>
        <servlet-name>servletConfigDemo1</servlet-name>
        <url-pattern>/servletConfigDemo1</url-pattern>
    </servlet-mapping>

    <!--//////////////////////////////////-->

    <servlet>
        <servlet-name>servletConfigDemo2</servlet-name>
        <servlet-class>com.fangyi.servletConfig.ServletConfigDemo2</servlet-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>

    </servlet>
    <servlet-mapping>
        <servlet-name>servletConfigDemo2</servlet-name>
        <url-pattern>/servletConfigDemo2</url-pattern>
    </servlet-mapping>

    <!--//////////////////////////////////-->

    <servlet>
        <servlet-name>servletConfigDemo3</servlet-name>
        <servlet-class>com.fangyi.servletConfig.ServletConfigDemo3</servlet-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>

    </servlet>
    <servlet-mapping>
        <servlet-name>servletConfigDemo3</servlet-name>
        <url-pattern>/servletConfigDemo3</url-pattern>
    </servlet-mapping>

    <!--//////////////////////////////////-->

    <servlet>
        <servlet-name>servletContextDemo1</servlet-name>
        <servlet-class>com.fangyi.servletContext.ServletContextDemo1</servlet-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>

    </servlet>
    <servlet-mapping>
        <servlet-name>servletContextDemo1</servlet-name>
        <url-pattern>/servletContextDemo1</url-pattern>
    </servlet-mapping>

    <!--//////////////////////////////////-->

    <servlet>
        <servlet-name>servletContextDemo2</servlet-name>
        <servlet-class>com.fangyi.servletContext.ServletContextDemo2</servlet-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>

    </servlet>
    <servlet-mapping>
        <servlet-name>servletContextDemo2</servlet-name>
        <url-pattern>/servletContextDemo2</url-pattern>
    </servlet-mapping>

    <!--//////////////////////////////////-->

    <!--设置全局编码-->
    <context-param>
        <param-name>encoding</param-name>
        <param-value>UTF-8</param-value>
    </context-param>


    <servlet>
        <servlet-name>servletContextDemo3</servlet-name>
        <servlet-class>com.fangyi.servletContext.ServletContextDemo3</servlet-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>

    </servlet>
    <servlet-mapping>
        <servlet-name>servletContextDemo3</servlet-name>
        <url-pattern>/servletContextDemo3</url-pattern>
    </servlet-mapping>

    <!--//////////////////////////////////-->

    <servlet>
        <servlet-name>servletContextDemo4</servlet-name>
        <servlet-class>com.fangyi.servletContext.ServletContextDemo4</servlet-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>

    </servlet>
    <servlet-mapping>
        <servlet-name>servletContextDemo4</servlet-name>
        <url-pattern>/servletContextDemo4</url-pattern>
    </servlet-mapping>

    <!--//////////////////////////////////-->

    <servlet>
        <servlet-name>servletContextDemo5</servlet-name>
        <servlet-class>com.fangyi.servletContext.ServletContextDemo5</servlet-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>

    </servlet>
    <servlet-mapping>
        <servlet-name>servletContextDemo5</servlet-name>
        <url-pattern>/servletContextDemo5</url-pattern>
    </servlet-mapping>

    <!--//////////////////////////////////-->

    <servlet>
        <servlet-name>servletContextDemo6</servlet-name>
        <servlet-class>com.fangyi.servletContext.ServletContextDemo6</servlet-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>

    </servlet>
    <servlet-mapping>
        <servlet-name>servletContextDemo6</servlet-name>
        <url-pattern>/servletContextDemo6</url-pattern>
    </servlet-mapping>

    <!--//////////////////////////////////-->

    <servlet>
        <servlet-name>httpServletResponseDemo1</servlet-name>
        <servlet-class>com.fangyi.httpServletResponse.HttpServletResponseDemo1</servlet-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>

    </servlet>
    <servlet-mapping>
        <servlet-name>httpServletResponseDemo1</servlet-name>
        <url-pattern>/httpServletResponseDemo1</url-pattern>
    </servlet-mapping>

    <!--//////////////////////////////////-->


    <servlet>
        <servlet-name>httpServletResponseDemo2</servlet-name>
        <servlet-class>com.fangyi.httpServletResponse.HttpServletResponseDemo2</servlet-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>

    </servlet>
    <servlet-mapping>
        <servlet-name>httpServletResponseDemo2</servlet-name>
        <url-pattern>/httpServletResponseDemo2</url-pattern>
    </servlet-mapping>

    <!--//////////////////////////////////-->

    <servlet>
        <servlet-name>httpServletResponseDemo3</servlet-name>
        <servlet-class>com.fangyi.httpServletResponse.HttpServletResponseDemo3</servlet-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>

    </servlet>
    <servlet-mapping>
        <servlet-name>httpServletResponseDemo3</servlet-name>
        <url-pattern>/httpServletResponseDemo3</url-pattern>
    </servlet-mapping>

    <!--//////////////////////////////////-->
    <servlet>
        <servlet-name>httpServletResponseDemo4</servlet-name>
        <servlet-class>com.fangyi.httpServletResponse.HttpServletResponseDemo4</servlet-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>

    </servlet>
    <servlet-mapping>
        <servlet-name>httpServletResponseDemo4</servlet-name>
        <url-pattern>/httpServletResponseDemo4</url-pattern>
    </servlet-mapping>

    <!--//////////////////////////////////-->


    <servlet>
        <servlet-name>httpServletResponseDemo5</servlet-name>
        <servlet-class>com.fangyi.httpServletResponse.HttpServletResponseDemo5</servlet-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>

    </servlet>
    <servlet-mapping>
        <servlet-name>httpServletResponseDemo5</servlet-name>
        <url-pattern>/httpServletResponseDemo5</url-pattern>
    </servlet-mapping>

    <!--//////////////////////////////////-->

    <servlet>
        <servlet-name>httpServletRequestDemo1</servlet-name>
        <servlet-class>com.fangyi.httpServletRequest.HttpServletRequestDemo1</servlet-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>

    </servlet>
    <servlet-mapping>
        <servlet-name>httpServletRequestDemo1</servlet-name>
        <url-pattern>/httpServletRequestDemo1</url-pattern>
    </servlet-mapping>

    <!--//////////////////////////////////-->

    <servlet>
        <servlet-name>httpServletRequestDemo2</servlet-name>
        <servlet-class>com.fangyi.httpServletRequest.HttpServletRequestDemo2</servlet-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>

    </servlet>
    <servlet-mapping>
        <servlet-name>httpServletRequestDemo2</servlet-name>
        <url-pattern>/httpServletRequestDemo2</url-pattern>
    </servlet-mapping>

    <!--//////////////////////////////////-->

    <servlet>
        <servlet-name>httpServletRequestDemo3</servlet-name>
        <servlet-class>com.fangyi.httpServletRequest.HttpServletRequestDemo3</servlet-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>

    </servlet>
    <servlet-mapping>
        <servlet-name>httpServletRequestDemo3</servlet-name>
        <url-pattern>/httpServletRequestDemo3</url-pattern>
    </servlet-mapping>

    <!--//////////////////////////////////-->

    <!--首次启动页面-->
    <welcome-file-list>
        <welcome-file>html_demo2.html</welcome-file>
    </welcome-file-list>
</web-app>